@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

html, body {
  height: 100%;
  margin: 0;
  background-color: #ede6db;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #1a3c40;
  border-width: 18px;
  width: 10%;
  margin: 16px 45% 16px 45%;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #1a3c40;
  display: inline-block;
  width: 100%;
  min-height: 5%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.header {
  text-align: right;
  position: fixed;
  background-color: #1a3c40;
  width: 100%;
  min-height: 5%;
  z-index: 1;
}

.dummy {
  height: 5%;
  width: 100%;
}

.intro {
  border-style: solid;
  border-color: red;
  border-width: 1px;
  display: inline-block;
  height: 80%;
  width: 100%;
  z-index: 0;
}

.invite {
  border-style: solid;
  border-color: red;
  background-color: purple;
  display: inline-block;
  height: 80%;
  width: 100%;
  background-color: #417d7a;
}

.inviteText {
  margin: 16px;
}

.mapa {
  border-style: solid;
  border-color: red;
  height: 80%;
  width: 100%;
}

.title {
  display: inline;
  max-width: 100%;
  height: 20%;
}

.couplePic {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.picture {
  position: relative;
}

.developed {
  color: #ede6db;
}

.approved {
  text-decoration: line-through;
  color: #ede6db;
}

#container {
  filter: url(#threshold) blur(0.6px);
  font-family: "Niconne", cursive;
}

#text1,
#text2 {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 120pt;
}

.topnav {
  overflow: hidden;
  background-color: #1a3c40;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: white;
}

.topCenter {
  position: absolute;
  top: 8px;
  left: 20%;
}
