@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
  margin: 0px;
}

#container {
  position: absolute;
  margin: ;
  height: 30%;
  top: 0;
  bottom: 0;
  filter: url(#threshold) blur(0.6px);
  font-family: "Niconne", cursive;
  color: black;
  font-size: 45px;
  display: block;
  width: 100%;
  text-align: center;
}

.titleX {
  padding-top: min(50vw, 50px);
  text-shadow: grey 2px 2px 2px;
}

#text1,
#text2 {
  position: absolute;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 80pt;
  text-align: center;
  user-select: none;
}

* {
  margin: 0;
}

body {
  font-family: 'Roboto';
  background-color: #ede6db;
}

ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

li {
  float: left;
  padding: 12.5% 5px;
  color: #ede6db;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #1a3c40;
  border-width: 18px;
  width: 10%;
  margin: 16px 45% 16px 45%;
}

iframe {
  display: block;
  width: 100%;
}

footer {
  background-color: #1a3c40;
  display: inline-block;
  width: 100%;
  min-height: 8%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.header {
  text-align: right;
  position: fixed;
  background-color: #1a3c40;
  width: 100%;
  min-height: 8%;
  z-index: 0;
}

.intro {
  display: inline-block;
  padding-top: min(50px);
  height: 20%;
  width: 100%;
}

.invite {
  display: inline-block;
  padding-top: min(50px);
  height: 400px;
  width: 100%;
  background-color: #417d7a;
}

.inviteText {
  margin: 16px;
}

.couplePic {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.picture {
  max-width: 100%;
  height: auto;
}

.mapa {
  padding-bottom: 6%;
}

.developed {
  color: #ede6db;
}

.approved {
  text-decoration: line-through;
  color: #ede6db;
}